<div class="main">
	
	<h2 class="text-center"> Filters </h2>
	<div class="filters-containers">
		<div class="fullname-filter mr-15px mt-10px">
			<input type="text" class="w-100" [(ngModel)]="input.fullname" (ngModelChange)="generateSuggestions('fullname')" placeholder="Select Full Name">
			<div *ngIf="displaySuggestions && selectedInput == 'fullname'" class="suggestions-container">
				<div *ngFor="let fullname of splittedArray" class="suggestion-box" (click)="selectSuggestion(fullname.value)">
					<ng-container *ngFor="let element of fullname.splitted"><span [ngClass]="{'bold': element.toLowerCase() == input.fullname.toLowerCase()}">{{ element }}</span></ng-container>
				</div>
			</div>
		</div>

		<div class="email-filter mr-15px mt-10px">
			<input type="text" class="w-100" [(ngModel)]="input.email" (ngModelChange)="generateSuggestions('email')" placeholder="Select Email">
			<div *ngIf="displaySuggestions && selectedInput == 'email'" class="suggestions-container">
				<div *ngFor="let email of splittedArray" class="suggestion-box" (click)="selectSuggestion(email.value)">
					<ng-container *ngFor="let element of email.splitted"><span [ngClass]="{'bold': element.toLowerCase() == input.email.toLowerCase()}">{{ element }}</span></ng-container>
				</div>
			</div>
		</div>

		<div class="mr-15px mt-10px">
			<select [(ngModel)]="input.status" (ngModelChange)="filter()">
				<option [value]="'default'"> Select Status </option>
				<option [value]="'active'"> Active </option>
				<option [value]="'inactive'"> Inactive </option>
				<option [value]="'premium'"> Premium </option>
			</select>
		</div>

		<button class="search-btn mr-15px mt-10px" (click)="search()"> Search </button>
		
		<button class="reset-btn mt-10px" (click)="resetFilters()"> Reset Filters </button>
	</div>

	
	<h2 class="mt-40px text-center"> Table </h2>
	<div class="mt-10px table-container">
		<table>
			<thead>
				<tr>
					<th> ID </th>
					<th> Full Name </th>
					<th> Email </th>
					<th> Status </th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let row of tableData; trackBy: trackByFn">
					<td> {{ row.id }} </td>
					<td> {{ row.fullname }} </td>
					<td> {{ row.email }} </td>
					<td [ngClass]="{'green-letters': row.status == 'active', 'red-letters': row.status == 'inactive', 'golden-letters': row.status == 'premium'}"> {{ row.status }} </td>
				</tr>
				
				<tr *ngIf="noData" class="red-letters">
					<td colspan="4"> No data </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<button *ngIf="displayScrollToTop" class="scroll-top-btn" (click)="scrollToTop()"> ⇧ </button>
